{% include 'partials/header.html' %}

        <section id="content" class="s-content">

               <section class="s-pageheader pageheader">
                    <div class="row">
                        <div class="column xl-12">
                            <h4 class="page-title">
                                <span class="page-title__small-type text-pretitle">Services</span>
                                High-Impact Services
                            </h4>

                        </div>
                    </div>
               </section> <!-- pageheader -->


               <section class="s-testimonials">
                    <div class="row s-testimonials__content">
                        <div class="column xl-12 testimonials">

                            <div class="swiper-container testimonials__slider page-slider">

                                <div class="swiper-wrapper">
                                    <div class="testimonials__slide swiper-slide">
                                        <h6>Web Development</h6>
                                        <p>
                                      I specialize in web development, blending creativity with technical expertise. Proficient in front-end and back-end technologies, I craft seamless digital experiences. Explore my portfolio to witness the fusion of design and functionality in every project.
                                        </p>
                                        <div class="testimonials__author">
                                            <img src="/static/assest/images/web.png" alt="Author image" class="testimonials__avatar">
                                            <cite class="testimonials__cite">
                                                <strong>Web Development</strong>
                                                 <span>Crafting digital experiences with precision.</span>
                                            </cite>
                                        </div>
                                    </div>
                                    <div class="testimonials__slide swiper-slide">
                                             <h6>Print Design</h6>
                                        <p>
                                            As a print designer, I transform concepts into visually compelling creations. With an eye for detail and a passion for aesthetics, my portfolio showcases a diverse range of print materials that captivate and communicate effectively.
                                        </p>
                                        <div class="testimonials__author">
                                             <img src="/static/assest/images/print.png" alt="Author image" class="testimonials__avatar">
                                            <cite class="testimonials__cite">
                                                <strong>Print Design</strong>
                                                <span>Ink, pixels: my canvas unfolds.</span>
                                            </cite>
                                        </div>
                                    </div>
                                    <div class="testimonials__slide swiper-slide">
                                             <h6>Database</h6>
                                        <p>
                                      In database management, I excel at designing efficient data structures and ensuring seamless information flow. My portfolio reflects my commitment to optimizing databases for performance and reliability.
                                        </p>
                                        <div class="testimonials__author">
                                        <img src="/static/assest/images/data.png" alt="Author image" class="testimonials__avatar">
                                            <cite class="testimonials__cite">
                                                <strong>Database</strong>
                                                <span>Architect ensuring seamless efficiency.</span>
                                            </cite>
                                        </div>
                                    </div>
                                    <div class="testimonials__slide swiper-slide">
                                            <h6>Debugging</h6>
                                        <p>
                                            I specialize in debugging, meticulously unraveling software intricacies to ensure seamless functionality. With a sharp eye for detail and a systematic approach, my portfolio reflects my dedication to delivering polished, bug-free software solutions.
                                        </p>
                                        <div class="testimonials__author">
   <img src="/static/assest/images/debug.png" alt="Author image" class="testimonials__avatar">
                                            <cite class="testimonials__cite">
                                                <strong>Debugging</strong>
                                                <span>Detect, diagnose, debug, optimize.</span>
                                            </cite>
                                        </div>
                                    </div>
                                </div> <!-- end swiper-wrapper -->

                                <div class="swiper-pagination"></div>

                            </div> <!--end testimonials__slider -->

                        </div> <!-- testimonials -->
                    </div> <!--end s-testimonials__content -->

               </section> <!-- end s-testimonials -->

        </section> <!-- s-content-->

        <!-- # cta
        ================================================== -->
        <!-- # footer
        ================================================== -->
        {% include 'partials/footer.html' %}