    <footer class="s-footer">
            <div class="row s-footer__bottom">
                <div class="column xl-12 lg-12">
                    <p class="ss-copyright">
                        <span>© Copyright Summaiya 2024</span>
                        <span>Design by <a href="https://www.styleshout.com/">StyleShout</a> Distribution By <a href="https://themewagon.com">ThemeWagon</a></span>
                    </p>
                </div>

                <div class="ss-go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="none" stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">&lt;!--!  Atomicons Free 1.00 by @atisalab License - https://atomicons.com/license/ (Icons: CC BY 4.0) Copyright 2021 Atomicons --&gt;<polyline points="17 11 12 6 7 11"></polyline><line x1="12" y1="18" x2="12" y2="6"></line></svg>
                    </a>
                </div> <!-- end ss-go-top -->
            </div>

        </footer> <!-- end s-footer -->

    </div> <!-- end page-wrap -->
</body>

    <!-- Java Script
    ================================================== -->
     <script src="/static/assest/js/plugins.js"></script>
    <script src="/static/assest/js/main.js"></script>
</html>